{
  "app": {
    "host": "localhost",
    "port": 8888,
    "debug": true,
    "cookie_secret": "[IMPORTANT] RESET ME BEFORE PUT IT IN PRODUCTION ENV",
    "password_salt": "[IMPORTANT] RESET ME!",
    "common_salt": "[IMPORTANT] RESET ME!",
    "template_path": "templates",
    "static_path": "static",
    "upload_dir": "upload",
    "use_static_handler": true,
    "swagger_ui": true,
    "wifi_min_same": 10
  },
  "db": {
    "dialect": "mysql",
    "driver": "pymysql",
    "user": "test",
    "password": "password",
    "host": "localhost",
    "dbname": "project_a11_test",
    "options": {
      "charset": "utf8mb4"
    }
  },
  "session": {
    "connection": {
      "host": "localhost",
      "port": 6379,
      "password": "4d46745a30d006b9cbbd90005f50075764ccc67c53fade810b4f43d644acab4d",
      "db": 0
    },
    "expires_after": 604800,
    "captcha_expires_after": 300,
    "checkin_code_expires_after": 6000
  },
  "page": {
    "page_title": "Welcome to project A11!"
  }
}
