[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
sqlalchemy = "*"
pymysql = "*"
pillow = "*"
redis = "*"
swagger-ui-py = "*"
pyyaml = ">=4.2b1"
captcha = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
