{% extends '../base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/select_class.css') }}">
{% end %}

{% block content %}
<div class="container">
  <div class="searchBar">
    <div class="input-group" style="text-align:center">
      <span class="glyphicon glyphicon-search input-group-addon"></span>
      <input type="text" class="form-control" placeholder="{{ _('Please fill in the course name') }}">
    </div>
  </div>
  <div class="col-md-6">
    <div class="course-image">
      <img src="{{ static_url('pics/math.jpg') }}" class="img-thumbnail" width="256" height="144"/>
    </div>
    <div class="course-info">
      <label>高等数学（下）</label>
      <p class="course-teacher">李一 . xxxx大学</p>
      <p>{{ _('Course Introduction') }}: xxxxxxxxxxxxxxxxxxxxx</p>
      <p>{{ _('Start from') }}: 2019.xx.xx</p>
      <p>{{ _('End at') }}: 2019.xx.xx</p>
    </div>
    <div class="myBtn">
      <button type="button" class="btn btn-primary">{{ _('Sign up for the class') }}</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="course-image">
      <img src="{{ static_url('pics/english.jpg') }}" class="img-thumbnail" width="256" height="144"/>
    </div>
    <div class="course-info">
      <label>大学生英语精读</label>
      <p class="course-teacher">李二 . xxxx大学</p>
      <p>课程介绍: xxxxxxxxxxxxxxxxxxxxx</p>
      <p>开课时间: 2019.xx.xx</p>
      <p>结束时间: 2019.xx.xx</p>
    </div>
    <div class="myBtn">
      <button type="button" class="btn btn-primary">我要参加</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="course-image">
      <img src="{{ static_url('pics/digit.jpg') }}" class="img-thumbnail" width="256" height="144"/>
    </div>
    <div class="course-info">
      <label>数字电路</label>
      <p class="course-teacher">李三 . xxxx大学</p>
      <p>课程介绍: xxxxxxxxxxxxxxxxxxxxx</p>
      <p>开课时间: 2019.xx.xx</p>
      <p>结束时间: 2019.xx.xx</p>
      </div>
      <div class="myBtn">
        <button type="button" class="btn btn-primary">我要参加</button>
      </div>  </div>
  <div class="col-md-6">
    <div class="course-image">
      <img src="{{ static_url('pics/physics.jpg') }}" class="img-thumbnail" width="256" height="144"/>
    </div>
    <div class="course-info">
      <label>大学物理</label>
      <p class="course-teacher">李四 . xxxx大学</p>
      <p>课程介绍: xxxxxxxxxxxxxxxxxxxxx</p>
      <p>开课时间: 2019.xx.xx</p>
      <p>结束时间: 2019.xx.xx</p>
    </div>
    <div class="myBtn">
      <button type="button" class="btn btn-primary">我要参加</button>
    </div>
  </div>
  <div class="pageChange">
    <nav style="text-align:center">
      <ul class="pagination pagination-centered">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
</div>
{% end %}
