{% extends '../base.html' %}

{% block content %}
<table class="table table-striped">
  <caption>考试安排</caption>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>科目</th>
      <th>时间</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>&nbsp;</th>
      <td>数字电路</td>
      <td>2019.xx.xx</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>数据结构</td>
      <td>2019.xx.xx</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>概率论与数理统计</td>
      <td>2019.xx.xx</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>大学物理2</td>
      <td>2019.xx.xx</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>毛泽东思想和国特色社会主义理论体系概论</td>
      <td>2019.xx.xx</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>离散数学</td>
      <td>2019.xx.xx</td>
    </tr>
  </tbody>
</table>

{% end %}
