.col-md-6{
  border-style: dashed;
  border-color: gray;
  padding-bottom: 50px;
}
body{
  background-color: gray;
}
.course-info{
  padding-top: 10px;
  padding-left: 10px;
}
.course-image{
  padding-top: 10px;
}
/* .myBtn{
  text-align: right;
  padding: 10px;
} */
