var locales = [
  {
    login: '登录',
    register: '注册',
    welcome: '欢迎回来！',
    welcome2: '欢迎光临！',
    password: '密码',
    password_confirm: '确认密码',
    captcha: '验证码',
    credential: '登录凭证',
    sex: '性别',
    other_info: '其他信息',
    name: '姓名',
    index: '首页',
    app_center: '应用中心',
    checkin: '课堂签到',
    verify_code: '输入签到码',
    submit: '提交',
    checkin_manage: '考勤管理',
    create_check: '创建一次新的签到活动',
    date_s_checkin: '的签到情况',
    checkin_status: '签到情况',
    pulldown2refresh: '下拉页面以刷新',
    status: '状态',
    staff_id: '学号',
    operation: '操作',
    my_center: '我的个人中心',
    logout: '登出'
  },

  {
    login: 'Login',
    register: 'Register',
    welcome: 'Welcome back!',
    welcome2: 'Welcome!',
    password: 'Password',
    password_confirm: 'Confirm',
    captcha: 'Captcha',
    credential: 'Account Credentials',
    sex: 'Gender',
    other_info: 'Other Information',
    name: 'Name',
    index: 'Homepage',
    app_center: 'Apps Center',
    verify_code: 'Please fill in the verification code',
    submit: 'Submit',
    checkin_manage: 'Checkin Activities Management',
    create_check: 'Create a new checkin code',
    date_s_checkin: "'s checkin status",
    checkin_status: 'Checkin Status',
    pulldown2refresh: 'Pull down the page to refresh',
    status: 'Status',
    staff_id: 'Staff ID',
    operation: 'Operation'
    my_center: 'My User-Center',
    logout: 'Logout'
  }
];

module.exports = {
  locales: locales
};
