<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ page.page_title }}{% end %}</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  {% block head %}{% end %}
</head>
<body>
  {% block content %}{% end %}
  {% if conf.app.debug %}
    <script src="https://vuejs.org/js/vue.js"></script>
  {% else %}
    <script src="https://vuejs.org/js/vue.min.js"></script>
  {% end %}
  {% block footer %}{% end %}
</body>
</html>
