<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{{ page.page_title }}{% end %}</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% block css %}{% end %}

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
          <span class="sr-only">切换导航条</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Welcome</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="my-nav">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ url('index') }}">主页</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url('login') }}">登录</a></li>
          <li><a href="{{ url('register') }}">注册</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              我的<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ url('user_center') }}">个人页面</a></li>
              <li><a href="{{ url('class_list') }}">课程一览</a></li>
              <li><a href="{{ url('user_timetable') }}">我的课表</a></li>
              <li><a href="{{ url('user_score') }}">成绩查询</a></li>
              <li><a href="{{ url('test_arrangement') }}">考试安排</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="main-container">
    {% block content %}{% end %}
  </div>
  <div id="footer">
    {% block footer %}{% end %}
  </div>

  {% if conf.app.debug %}
    <script src="https://vuejs.org/js/vue.js"></script>
  {% else %}
    <script src="https://vuejs.org/js/vue.min.js"></script>
  {% end %}

  {% block script %}{% end %}
</body>
</html>
