{% extends 'base.html' %}

{% block title %}
Register
{% end %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/main.css') }}">
{% end %}

{% block content %}
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-register" method="post">
      <h2 class="text-center">欢迎注册</h2>
      <div class="form-group">
        <label>用户名</label>
        <input type="text" class="form-control" placeholder="请输入用户名" id="UserName" name="username">
      </div>
      <div class="form-group">
        <label>登录密码</label>
        <input type="password" class="form-control" placeholder="请输入6-15位密码" id="FirstPassword">
      </div>
      <div class="form-group">
        <label>确认登录密码</label>
        <input type="password" class="form-control" placeholder="请重复输入一次密码" id="SecondPassword" name="password">
      </div>
      <div class="form-group">
        <label>姓名</label>
        <input type="text" class="form-control" placeholder="姓名" id="name" name="name">
      </div>
      <div class="form-group">
        <label>性别</label>
        <input type="radio" name="sex" value="male">♂
        <input type="radio" name="sex" value="female">♀
      </div>
      <div class="form-group">
        <label>学号</label>
        <input type="text" class="form-control" placeholder="学号" id="student-number" name="student-number">
      </div>
      <div class="form-group">
        <label>所在学院</label>
        <input type="text" class="form-control" placeholder="学院" id="college" name="college">
      </div>
      <div class="form-group">
        <label>所在专业</label>
        <input type="text" class="form-control" placeholder="专业" id="major" name="major">
      </div>
      <div class="form-group">
        <label>Role: </label>
        <input type="radio" name="role" value="0" />
        <input type="radio" name="role" value="1" />
        <input type="radio" name="role" value="2" />
      </div>
      <!-- <div class="form-group">
        <label>验证码</label>
        <input type="text" class="form-control" placeholder="验证码" name="code">
        <img src="/check_code" onclick="ChangCode();" id="code">
      </div> -->
      <button type="reset" class="btn btn-default pull-left">重置</button>
      <button type="submit" class="btn btn-primary pull-right">提交</button>
    </form>
  </div>
</div>
{% end %}

{% block script %}
<script src="{{ static_url('js/register.js') }}"></script>
<!-- <script type="text/javascript">
  function ChangCode() {
      var code = document.getElementById('code')
      code.src = "/check_code" + Math.random()
  }
</script> -->
{% end %}
