{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
  <caption>我的成绩</caption>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>科目</th>
      <th>分数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>&nbsp;</th>
      <td>数字电路</td>
      <td>86</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>数据结构</td>
      <td>83</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>概率论与数理统计</td>
      <td>94</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>大学物理2</td>
      <td>93</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>毛泽东思想和国特色社会主义理论体系概论</td>
      <td>92</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>离散数学</td>
      <td>92</td>
    </tr>
  </tbody>
</table>
{% end %}
