{% extends '../base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/dataAnalysis.css') }}">
{% end %}

{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:14%">名次</th>
        <th style="width:14%">姓名</th>
        <th style="width:14%">学号</th>
        <th style="width:18%">参与度</th>
        <th style="width:22%">在线时长</th>
        <th style="width:22%">做题数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>指标汇总值</th>
        <th>指标平均值</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>52</td>
        <td>52</td>
      </tr>
    </tbody>
  </table>
</div>
{% end %}
