{% extends '../base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/dataAnalysis.css') }}">
{% end %}

{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:14%">{{ _('Rank') }}</th>
        <th style="width:14%">{{ _('Name') }}</th>
        <th style="width:14%">{{ _('Staff ID') }}</th>
        <th style="width:18%">{{ _('Participation') }}</th>
        <th style="width:22%">{{ _('Online time') }}</th>
        <th style="width:22%">{{ _('Amount of assignments') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>{{ _('Active') }}</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A</td>
        <td>001</td>
        <td>积极</td>
        <td>52</td>
        <td>52</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ _('Total') }}</th>
        <th>{{ _('Average') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>52</td>
        <td>52</td>
      </tr>
    </tbody>
  </table>
</div>
{% end %}
