{% extends '../base.html' %}

{% block ttitle %}
Login
{% end %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/login.css') }}">
{% end %}

{% block content %}
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-login" method="post">
      <h2 class="text-center">欢迎登录</h2>
      <div class="form-group">
        <label>用户名</label>
        <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username">
      </div>
      <div class="form-group">
        <label>登录密码</label>
        <input type="password" class="form-control" placeholder="请输入密码" id="StuPSW" name="password">
      </div>
      <div class="form-group">
        <label>验证码</label>
        <input type="text" class="form-control" placeholder="验证码" name="code">
        <img src="{{ url('check_code') }}" onclick="ChangCode();" id="code">
      </div>
      <button type="reset" class="btn btn-default pull-left">重置</button>
      <button type="submit" class="btn btn-primary pull-right">提交</button>
    </form>
  </div>
</div>
{% end %}

{% block script %}
<script src="{{ static_url('js/login.js') }}"></script>
<!-- <script type="text/javascript">
  function ChangCode() {
      var code = document.getElementById('code');
      code.src = "{{ url('check_code') }}?v=" + Math.random();
  }
</script>
{% end %}
