{% extends '../base.html' %}

{% block ttitle %}
{{ _("Login") }}
{% end %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/login.css') }}">
{% end %}

{% block content %}
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-login" method="post">
      <h2 class="text-center">{{ _('Login') }}</h2>
      <div class="form-group">
        <label>{{ _("Username") }}</label>
        <input type="text" class="form-control" id="username" placeholder="{{ _('Please fill in your username') }}" name="username">
      </div>
      <div class="form-group">
        <label>{{ _('Password') }}</label>
        <input type="password" class="form-control" placeholder="{{ _('Please fill in your password') }}" id="StuPSW" name="password">
      </div>
      <div class="form-group">
        <label>{{ _('Captcha') }}</label>
        <input type="text" class="form-control" placeholder="{{ _('Captcha') }}" name="code">
        <img class="img-rounded" src="{{ url('check_code') }}" onclick="ChangCode();" id="code">
      </div>
      <button type="reset" class="btn btn-default pull-left">{{ _('Reset') }}</button>
      <button type="submit" class="btn btn-primary pull-right">{{ _('Submit') }}</button>
    </form>
  </div>
</div>
{% end %}

{% block script %}
<script src="{{ static_url('js/login.js') }}"></script>
<!-- <script type="text/javascript">
  function ChangCode() {
      var code = document.getElementById('code');
      code.src = "{{ url('check_code') }}?v=" + Math.random();
  }
</script>
{% end %}
