{% extends '../base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/teachingEvaluation.css') }}">
{% end %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="text-center">Teaching Evaluation</h3>
      <div class="teacherList">
        <label for="name">{{ _('Choose a teacher') }}</label>
        <select class="form-control">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
        </select>
      </div>
      <div class="content">
        <div class="singleSelection">
          <label>{{ _('Single-Choice Questions') }}</label>
          <ol>
            <li>
              <label>xxxxxxxxxx?</label>
              <div class="radio">
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question1" value="option1">{{ _('Very satisfied') }}
                </label>
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question1" value="option2">{{ _('Quite satisfied') }}
                </label>
                <label class="radio-inline">
                  <input type="radio" name="question1" value="option3">{{ _('Not satisfied') }}
                </label>
              </div>
            </li>
            <li>
              <label>xxxxxxxxxx?</label>
              <div class="radio">
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question2" value="option1">很满意
                </label>
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question2" value="option2">基本满意
                </label>
                <label class="radio-inline">
                  <input type="radio" name="question2" value="option3">不满意
                </label>
              </div>
            </li>
            <li>
              <label>xxxxxxxxxx?</label>
              <div class="radio">
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question3" value="option1">很满意
                </label>
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question3" value="option2">基本满意
                </label>
                <label class="radio-inline">
                  <input type="radio" name="question3" value="option3">不满意
                </label>
              </div>
            </li>
            <li>
              <label>xxxxxxxxxx?</label>
              <div class="radio">
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question4" value="option1">很满意
                </label>
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question4" value="option2">基本满意
                </label>
                <label class="radio-inline">
                  <input type="radio" name="question4" value="option3">不满意
                </label>
              </div>
            </li>
            <li>
              <label>xxxxxxxxxx?</label>
              <div class="radio">
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question5" value="option1">很满意
                </label>
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question5" value="option2">基本满意
                </label>
                <label class="radio-inline">
                  <input type="radio" name="question5" value="option3">不满意
                </label>
              </div>
            </li>
            <li>
              <label>xxxxxxxxxx?</label>
              <div class="radio">
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question6" value="option1">很满意
                </label>
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question6" value="option2">基本满意
                </label>
                <label class="radio-inline">
                  <input type="radio" name="question6" value="option3">不满意
                </label>
              </div>
            </li>
            <li>
              <label>xxxxxxxxxx?</label>
              <div class="radio">
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question7" value="option1">很满意
                </label>
                <label class="radio-inline" style="width:33%;">
                  <input type="radio" name="question7" value="option2">基本满意
                </label>
                <label class="radio-inline">
                  <input type="radio" name="question7" value="option3">不满意
                </label>
              </div>
            </li>
          </ol>
        </div>
        <div class="writeArea">
          <label>{{ _('Other Advice') }}：</label>
          <form role="form" method="post">
            <div class="form-group">
              <textarea name="myTextarea" rows="8" class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="myButton">
          <button type="button" class="btn btn-primary">{{ _('Submit') }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% end %}
