{% extends '../base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/user_center.css') }}">
{% end %}

{% block content %}
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center">{{ _("User Information") }}</h2>
    <div class="form-group">
      <label>{{ _("Name") }}</label>
      <p class="form-control-static">{{ user.name }}</p>
    </div>
    <div class="form-group">
      <label>{{ _("Sex") }}</label>
      <p class="form-control-static">
        {% if user.is_male %}
          {{ _('Male') }}
        {% else %}
          {{ _('Female') }}
        {% end %}
      </p>
    </div>
    <div class="form-group">
      <label>{{ _("Username") }}</label>
      <p class="form-control-static">{{ user.username }}</p>
    </div>
    <div class="form-group">
      <label>{{ _("Student ID") }} / {{ _("Staff ID") }}</label>
      <p class="form-control-static">{{ user.staff_id }}</p>
    </div>
  </div>
{% end %}
