{% extends '../base.html' %}

{% block content %}
<table class="table table-striped">
  <caption>{{ _('My Attendance') }}</caption>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th style="width:80%">{{ _('Reason') }}</th>
      <th>{{ _('Times') }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>&nbsp;</th>
      <td>{{ _('Leave') }}</td>
      <td>2次</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>{{ _('Late') }}</td>
      <td>3次</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>{{ _('Absentee') }}</td>
      <td>3次</td>
    </tr>
  </tbody>
</table>

{% end %}
