{% extends '../base.html' %}

{% block content %}
<table class="table table-striped">
  <caption>我的出勤</caption>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th style="width:80%">原因</th>
      <th>次数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>&nbsp;</th>
      <td>请假</td>
      <td>2次</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>迟到</td>
      <td>3次</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>旷课</td>
      <td>3次</td>
    </tr>
  </tbody>
</table>

{% end %}
