{% extends '../base_manage.html' %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/WorkAttendanceManage.css') }}">
{% end %}

{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-1">
    <div class="table">
      <table class="table table-striped">
        <caption>出勤率统计</caption>
        <thead>
          <tr>
            <th>名称</th>
            <th>出勤次数</th>
            <th>请假次数</th>
            <th>早退次数</th>
            <th>评价</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A</td>
            <td>50</td>
            <td>0</td>
            <td>1</td>
            <td>合格</td>
          </tr>
          <tr>
            <td>A</td>
            <td>50</td>
            <td>0</td>
            <td>1</td>
            <td>合格</td>
          </tr>
          <tr>
            <td>A</td>
            <td>50</td>
            <td>0</td>
            <td>1</td>
            <td>合格</td>
          </tr>
          <tr>
            <td>A</td>
            <td>50</td>
            <td>0</td>
            <td>1</td>
            <td>合格</td>
          </tr>
          <tr>
            <td>A</td>
            <td>50</td>
            <td>0</td>
            <td>1</td>
            <td>合格</td>
          </tr>
          <tr>
            <td>A</td>
            <td>50</td>
            <td>0</td>
            <td>1</td>
            <td>合格</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% end %}
